// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$base-color: #{'@theme_base_color'};

window.Bar {
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	> centerbox {
		background: $bg-color;
		border-radius: 24px;
		margin: 8px;
	}

	button {
		border-radius: 8px;
		margin: 2px;
	}
}

.hyprland-workspaces {
	border-radius: 24px;
	padding: 8px;
}

.hyprland-workspace-monitor {
	border-radius: 24px;
	background: $base-color;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
}
