// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// https://docs.gtk.org/gtk4/css-overview.html
// https://docs.gtk.org/gtk4/css-properties.html
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$base-color: #{'@theme_base_color'};
// the following colors are based on vimix themes:
$accent-color: #{'@accent_color'};
$sub-accent-color: #f58782; // need a sub accent defined on the GTK theme
$dark-accent-color: #e01b24; // need a dark accent defined on the GTK theme

window.Bar {
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	> centerbox {
		background: $bg-color;
		border-radius: 24px;
		margin: 8px;
	}

	button {
		border-radius: 8px;
		margin: 2px;
	}
}

.hyprland-workspaces {
	border-radius: 24px;
	padding: 8px;
}

.hyprland-workspace-monitor {
	border-radius: 24px;
	background: $base-color;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
}

.workspace-focused {
	color: $dark-accent-color;
}

.workspace-active {
	color: $accent-color;
}

.workspace-inactive {
	color: $sub-accent-color;
}
